In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\ansha\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\ansha\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [4]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root",passwd="root",use_pure=True)
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('student',), ('sys',), ('world',)]

Create a Database:

In [3]:
try:
    query = "CREATE DATABASE STUDENT"
    cursor = mydb.cursor()
    cursor.execute(query)
    
except Exception as e:
    mydb.close()
    print(str(e))

[]

Connecting to the database STUDENT and creating a Table:

In [5]:
try:
    mydb = connection.connect(host="localhost",database = "student",user="root",passwd="root",use_pure=True)
    print(mydb.is_connected())
    
    query = "CREATE TABLE StudentDetails (SId INT(10) AUTO_INCREMENT PRIMARY KEY, FirstName VARCHAR(50),"\
            "LastName VARCHAR(50), RDate DATE, Class VARCHAR(20), Section VARCHAR(10))"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print("Table Created!")

    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created!

Viewing the Schema of our table:

In [13]:
try:
    mydb = connection.connect(host="localhost",database = "student",user="root",passwd="root",use_pure=True)
    print(mydb.is_connected())
    
    query = "Select * from StudentDetails"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.column_names)

    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
('SId', 'FirstName', 'LastName', 'RDate', 'Class', 'Section')

Adding the data to our table STUDENT:

In [31]:
try:
    mydb = connection.connect(host="localhost",database = "student",user="root",passwd="root",use_pure=True)
    print(mydb.is_connected())
    
    query = "INSERT INTO StudentDetails VALUES('2112','Ansh','Ankul','2000-11-11','Second','A')"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    mydb.commit()                   # Commit the values to the originl database
    print("Values Inserted!")
    
except Exception as e:
    mydb.close()
    print(str(e))

True
Values Inserted!

In [20]:
query = "Select * from StudentDetails"
    
cursor = mydb.cursor()
cursor.execute(query)
print(cursor.fetchall())

[(1112, 'Ansh', 'Ankul', datetime.date(2000, 11, 11), 'Second', 'A')]

## SQL and Pandas

In [2]:
import pandas as pd
import mysql.connector as connection

In [3]:
mydb = connection.connect(host="localhost",user="root",passwd="root",use_pure=True)
db = pd.read_sql("select * from student.StudentDetails", mydb)

C:\Users\ansha\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [4]:
db

    SId FirstName LastName       RDate   Class Section
0  1112      Ansh    Ankul  2000-11-11  Second       A
1  2112      Ansh    Ankul  2000-11-11  Second       A

In [7]:
db.to_csv("my_data.csv")

In [48]:
# db.to_sql()

# To directly dump db into sql

In [19]:
import mysql.connector as connection
import pandas as pandas
import csv

try:
    mydb = connection.connect(host="localhost", user="root", passwd="root",use_pure=True)
    #check if the connection is established
    print(mydb.is_connected())
    
    #create a new database
    query = "Create database GlassData;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close() #close the connection

    #Establish a new connection to the database created above
    mydb = connection.connect(host="localhost", database = 'GlassData',user="root", passwd="root", use_pure=True)

    #create a new table to store glass data
    query = "CREATE TABLE IF NOT EXISTS GlassData (Index_Number INT(10),RI float(10,5), Na float(10,5), Mg float(10,5),Al float(10,5)," \
            " Si float(10,5), K float(10,5), Ca float(10,5), Ba float(10,5), Fe float(10,5), Class INT(5))"
    cursor = mydb.cursor()  # create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")

    #read from the file
    with open('glass.data', "r") as f:
        next(f)
        glass_data = csv.reader(f, delimiter="\n")
        for line in enumerate(glass_data):
            for list_ in (line[1]):
                cursor.execute('INSERT INTO GlassData values ({values})'.format(values=(list_)))
    print("Values inserted!!")
    mydb.commit()
    cursor.close()
    mydb.close()

except Exception as e:
    #mydb.close()
    print(str(e))

True
Database Created!!
Table Created!!
Values inserted!!

In [3]:
mydb = connection.connect(host="localhost",database = "student",user="root",passwd="root",use_pure=True)
print(mydb.is_connected())
query = "DELETE FROM StudentDetails where SId = 2112"
cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
mydb.commit()

db = pd.read_sql("select * from student.StudentDetails", mydb)
print(db)
mydb.close()

True
    SId FirstName LastName       RDate   Class Section
0  1112      Ansh    Ankul  2000-11-11  Second       A

C:\Users\ansha\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [4]:
mydb = connection.connect(host="localhost",database = "student",user="root",passwd="root",use_pure=True)
print(mydb.is_connected())
query = "UPDATE StudentDetails SET SId = 9999 WHERE SId = 1112"
cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
mydb.commit()

db = pd.read_sql("select * from student.StudentDetails", mydb)
print(db)
mydb.close()

True
    SId FirstName LastName       RDate   Class Section
0  9999      Ansh    Ankul  2000-11-11  Second       A

C:\Users\ansha\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## Working with MongoDB

In [2]:
!python -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\ansha\anaconda3\lib\site-packages (4.1.1)

In [3]:
pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in c:\users\ansha\anaconda3\lib\site-packages (4.1.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\ansha\anaconda3\lib\site-packages (from pymongo[srv]) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pymongo

client = pymongo.MongoClient("mongodb://root:root@ac-vvhbmeg-shard-00-00.bmm6os7.mongodb.net:27017,ac-vvhbmeg-shard-00-01.bmm6os7.mongodb.net:27017,ac-vvhbmeg-shard-00-02.bmm6os7.mongodb.net:27017/?ssl=true&replicaSet=atlas-irvlm4-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.test

### STEP 1: Create a DB

In [6]:
DEFAULT_CONNECTION_URL = "mongodb://localhost:27017/"
DB_NAME = "anshankul"

# Establish a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

# Create a DB
dataBase = client[DB_NAME]

In [8]:
db_1 = client["anshankul"]

In [22]:
client.list_database_names()

['admin', 'config', 'local']

### STEP 2: Create a collection

In [23]:
COLLECTION_NAME = "anshankul"
collection = dataBase[COLLECTION_NAME]
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'anshankul'), 'anshankul')

In [24]:
# let's verify whether we have our database in the list or not 
# we'll use the following function:-

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    """It verifies the existence of collection name in a database"""
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Database:'{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False


_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'anshankul' in Database:'anshankul' does not exists OR
    no documents are present in the collection

### STEP 3: Insert a record in the collection

In [9]:
collection = db_1["anshankul"]
record = {'companyName': 'iNeuron',
         'product': 'Affordable AI',
         'courseOffered': 'Deep Learning for Computer Vision',
         'name' : ["can","tyagi",5466],
         "record_dict" :{"name" :"sudhanshu" , "mail_id" : "sudhanshu@fadfsaf.ai","ph_number" :543535}}

collection.insert_one(record)

### STEP 4: Inserting multiple records in the collection

In [13]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program',
    "test" : "ffsdfsffsf",
     "complex" : [{"name" : "sudhanshu","list" : [554,545,454,54,5,4]},{"email_id" :"sudhanshu@dffsf"},{"phone_no":345345345353},[4,54,534,5,45,5,45,4]]

    }]
    
rec = collection.insert_many(list_of_records)

In [15]:
# lets print he unique ID that of the record that we have inserted -
inserted_IDs = rec.inserted_ids

for idx, unique_ids in enumerate(inserted_IDs):
    print(f"{idx}. {unique_ids}")

0. 6318985c0999bf27d6043a7d
1. 6318985c0999bf27d6043a7e
2. 6318985c0999bf27d6043a7f

You can override the default unique Id by giving a user defined as shown below -

In [16]:
COLLECTION_NAME = "Bigstep_Faculties"
faculties = db_1[COLLECTION_NAME]

list_of_records_user_defined_id = [
    {"_id": "6",
    "companyName": "Bigstep",
    "Faculty": "Ansh Ankul"},
    {"_id": "8",
    "companyName": "Bigstep",
    "Faculty": "Spider man"},
]

faculties_record = faculties.insert_many(list_of_records_user_defined_id)

### STEP 5: Find method in MongoDB

In [17]:
#Printing the first record of the collection

find_first_record = faculties.find_one()

print(f"The first record of collection: \n{COLLECTION_NAME} is=\n{find_first_record}")

The first record of collection:
Bigstep_Faculties is=
{'_id': '6', 'companyName': 'Bigstep', 'Faculty': 'Ansh Ankul'}

In [18]:
for i in faculties.find():
    print(i)

{'_id': '6', 'companyName': 'Bigstep', 'Faculty': 'Ansh Ankul'}
{'_id': '8', 'companyName': 'Bigstep', 'Faculty': 'Spider man'}

In [19]:
# find all the record at once present in thr record with all the fields
all_record = faculties.find()

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '6', 'companyName': 'Bigstep', 'Faculty': 'Ansh Ankul'}
1: {'_id': '8', 'companyName': 'Bigstep', 'Faculty': 'Spider man'}

In [20]:
# find all the record at once present in the record with SPECIFIC fields
all_record = faculties.find({}, {"Faculty"})

for idx, record in enumerate(all_record):
    print(f"{idx}: {record}")

0: {'_id': '6', 'Faculty': 'Ansh Ankul'}
1: {'_id': '8', 'Faculty': 'Spider man'}

### STEP 6: Query or filter out data in MongoDB

In [21]:
for i in faculties.find({'Faculty':"Spider man"}):
    print(i)

{'_id': '8', 'companyName': 'Bigstep', 'Faculty': 'Spider man'}

In [32]:
# id >= 6
for i in faculties.find({'_id':{'$gte':'6'}}):
    print(i)

{'_id': '6', 'companyName': 'Bigstep', 'Faculty': 'Ansh Ankul'}
{'_id': '8', 'companyName': 'Bigstep', 'Faculty': 'Spider man'}

In [26]:
# id == 6
query1 = {"_id": '6'}

results = faculties.find(query1)
for data in results:
    print(data)

{'_id': '6', 'companyName': 'Bigstep', 'Faculty': 'Ansh Ankul'}

### STEP 7: Delete one or many documents in MongoDB

In [29]:
# Lets add some random data in faculties
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

faculties.insert_many(random_data)

In [30]:
# Lets delete one document in faculties
query_to_delete = {"Faculty": "XYZ"}

faculties.delete_one(query_to_delete)

In [31]:
for i in faculties.find({"_id": {"$gte": "4"}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}
{'_id': '6', 'companyName': 'Bigstep', 'Faculty': 'Ansh Ankul'}
{'_id': '8', 'companyName': 'Bigstep', 'Faculty': 'Spider man'}

In [33]:
# lets delete multiple record
multi_query_to_delete = {"_id": {"$gt": "4"}}

faculties.delete_many(multi_query_to_delete)

### STEP 8: Drop the entire collection

In [34]:
faculties.drop()

### STEP 9: Update

In [36]:
COLLECTION_NAME = "iNeuron_Products"

products = dataBase[COLLECTION_NAME]

all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

In [37]:
present_data = {'courseOffered': 'Machine Learning with Deployment'}
new_data = {"$set":{'courseOffered': 'ML and DL with Deployment'}}

In [38]:
products.update_one(present_data, new_data)

In [39]:
all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

In [40]:
present_data = {'companyName': 'iNeuron'}
new_data = {"$set": {'companyName': 'iNeuron.ai'}}

In [41]:
products.update_many(present_data, new_data)

all_record = products.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

### STEP 9: Set limit to view N records

In [42]:
N_records = 3

N_record = products.find().limit(N_records)

for idx, record in enumerate(N_record):
    print(f"{record}\n")